@import '../../../../plasma-theme';

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.main-toolbar {
  background-color: white;
  z-index: 2;
}

.sidenav-container {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;

  mat-sidenav-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    &.expanded {
      margin-left: 250px;
    }

    &.closed {
      margin-left: 56px;
    }
  }
}

.mat-nav-list {

  .active {
    border-bottom: 4px solid mat-color($plasma-app-primary);
  }

  .icon-wrapper {
    margin: 0 10px 0 0;
  }

  .text-wrapper {
    white-space: nowrap;
    font-size: 14px;
  }

  .mat-list-item:hover {
    color: mat-color($plasma-app-primary);
  }
}

.menu-button {
  margin-right: 15px;
}

.logo{
  with: 80px;
  height: auto;
}

.mat-menu-item{
  width: 400px;
}
