<div fxFill fxLayout="column">
  <nz-layout>
    <nz-header class="main-toolbar" fxLayoutAlign="space-between center" fxFlex="64px">
      <div class="logo" fxLayoutAlign="center center" fxLayoutGap="15px">
        <img class="logo" src="assets/img/plasma_icon.png">
        <h2 nz-typography>PLASMA</h2>
      </div>
      <a class="logo" fxLayoutAlign="center center" href="https://www.tmdt.uni-wuppertal.de/">
        <img class="tmdt-logo" src="assets/img/institute_kurz.png">
      </a>
    </nz-header>
    <nz-content class="main-content" fxFlex>
        <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>

</div>
