### Generated ###
target/

### IntelliJ IDEA ###
#Exclude .idea folder
.idea/*
!.idea/.name
!.idea/copyright/

#Share all dictionaries
!.idea/dictionaries/
!.idea/fileTemplates/
!.idea/runConfigurations/

*.iml

ontologies/

### Logging ###
logs/*
**.log
**.log.zip!/

