<ng-template #longDescriptionModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Long Description: {{this.selectedDataSource.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <textarea title="Description"
              cdkTextareaAutosize
              [(ngModel)]="this.selectedDataSource.longDescription"
              name="description"
              class="form-control"
              cdkAutosizeMinRows="10"
              cdkAutosizeMaxRows="20"
              readonly
              id="output schema analysis" style="width: 95%; font-family: Consolas; margin-left: 20px; margin-top: 20px; max-height: 80%">
                </textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="c()"><i class="fas fa-times"></i> Close</button>
  </div>
</ng-template>

<div class="mcontainer" fxLayout.lt-sm fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center start">

  <mat-card fxFlex="90" fxFill>
    <mat-card-header>Create a new Data Source</mat-card-header>
    <mat-card-content fxFill>

        <mat-form-field appearance="fill" style="width: 25%; margin-top: 20px">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" [(ngModel)]="newTitle" required>

        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 70%; margin-left: 3%">
          <mat-label>Short Description</mat-label>
          <input matInput placeholder="Short Description" [(ngModel)]="newDescription" required>

        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%; margin-top: 20px">
          <mat-label>Long Description</mat-label>
          <textarea matNativeControl placeholder="Long Description" [(ngModel)]="newLongDescription" style="width: 100%; height: 200px"></textarea>

        </mat-form-field>
        <div>
          <button class="btn btn-primary" (click)="addDataSource()" *ngIf="newTitle !== '' && newDescription !== ''" style="float: right"><i class="fas fa-save"></i> Create Data Source</button>
        </div>



      <span *ngIf="sourceCreated"><i class="fas fa-check"></i> Data Source has been created!</span>
    </mat-card-content>

  </mat-card>

  <mat-card fxFlex="90" fxFill>
    <mat-card-header>Data Source Inventory</mat-card-header>
    <mat-card-content fxFill>
      <mat-table [dataSource]="this.dataSources" matSort class="mat-elevation-z4">

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="uuid">
          <mat-header-cell *matHeaderCellDef mat-sort-header> UUID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.uuid}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="operations" >
          <mat-header-cell *matHeaderCellDef style="justify-content: flex-end; padding: 21px 0; display: flex ">  </mat-header-cell>
          <mat-cell *matCellDef="let element" style="justify-content: flex-end; padding: 15px 15px; display: flex ">
            <button class="btn btn-outline-primary float-right" (click)="displayLongDescription(element)">
              <i class="fas fa-info-circle" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-danger float-right" (click)="deleteDataSource(element)" style="margin-left: 10px">
              <i class="fas fa-trash" aria-hidden="true"></i>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
