.informationgraph-sidebar {
  width: 20rem;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  border-width: $border-width;
  border-color: $primary;
  border-style: solid;
}

.informationgraph-sidebar.left {
  left: $spacer;
}

.informationgraph-sidebar-left-inner {
  max-height: 90%;
  overflow-y: auto
}

.informationgraph-sidebar.right {
  overflow-y: auto;
  right: $spacer;
  height: fit-content;
  max-height: 90%;
}

.informationgraph-canvas > div {
  height: 100%;
}

.informationgraph.informationgraph-container {
  min-height: 100%;
  position: relative;
  outline: none !important;
}

.informationgraph-integration-start {
  z-index: 1;
  position: absolute;
  right: 20px;
  bottom: 50px;
}
