.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 65000;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;

  .overlay-centered-both {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
