<ng-template #syntacticOperationModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modify syntactic node</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="selectedNode">
    <div class="container">
      <h4 class="mb-1">{{ operations[selectedOperation].label }}</h4>
      <p class="lead mb-0 text-muted">
        {{ operations[selectedOperation].description }}
      </p>
      <hr>
      <app-schema-form [formElement]="operations[selectedOperation].parameter"></app-schema-form>
    </div>
  </div>
  <div class="modal-footer" *ngIf="selectedOperation != undefined">
    <button class="btn btn-primary" (click)="c()"><i class="fas fa-check"></i> Apply</button>
  </div>
</ng-template>

<ng-template #exampleValueModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Example values of '{{ selectedNode.label }}'</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="selectedNode">
    <div class="container"
         *ngFor="let example of (selectedNode.examples ? selectedNode.examples : getMappedPrimitiveNode(selectedNode.id).examples); let i = index">
      <hr *ngIf="10 > i > 0">
      <pre class="pre-scrollable" *ngIf="10 > i > 0">{{ example }}</pre>
    </div>
  </div>
  <div class="modal-footer" *ngIf="selectedOperation != undefined">
    <button class="btn btn-secondary" (click)="c()"><i class="fas fa-times"></i> Close</button>
  </div>
</ng-template>


<ng-template #entityTypeEditModal let-c="close" let-d="dismiss">
  <form (submit)="c()">
    <div class="modal-header">
      <h4 class="modal-title">Modify entity type</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="selectedEntityType.label" class="form-control" name="label">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea [(ngModel)]="selectedEntityType.description" name="description" class="form-control"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger mr-auto" (click)="deleteEntityType(selectedEntityType)">
        <i class="fas fa-trash"></i> Delete
      </button>
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> Save
      </button>
    </div>
  </form>
</ng-template>


<div class="mcontainer" fxLayout.lt-sm fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center start">
  <mat-card fxFlex="90" fxFill>
    <mat-card-header>Select Data Source</mat-card-header>
    <mat-card-content fxFill>
      <mat-form-field appearance="fill">
        <mat-label>Data Source</mat-label>
        <mat-select [(ngModel)]="selectedDataSource" (load)="this.changeDatasource()" (selectionChange)="changeDatasource()">
          <mat-option *ngFor="let ds of allDataSources" [value]="ds">
            {{ds.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-icon *ngIf="this.selectedDataSource && this.schemaAnalysisReady">check_circle</mat-icon>

      <button class="btn btn-primary" (click)="init()" *ngIf="!this.modelingInitialized && this.selectedDataSource && this.schemaAnalysisReady && this.changeComplete"><i class="fas fa-save"></i> Start Modelling </button>

      <span *ngIf="this.selectedDataSource && !this.schemaAnalysisReady">Please use schema analysis first</span>

    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="90" fxFill *ngIf="modelingInitialized">
    <mat-card-content fxFill>
      <ng-template #syntacticOperationModal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Modify syntactic node</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="selectedNode">
          <div class="container">
            <h4 class="mb-1">{{ operations[selectedOperation].label }}</h4>
            <p class="lead mb-0 text-muted">
              {{ operations[selectedOperation].description }}
            </p>
            <hr>
            <app-schema-form [formElement]="operations[selectedOperation].parameter"></app-schema-form>
          </div>
        </div>
        <div class="modal-footer" *ngIf="selectedOperation != undefined">
          <button class="btn btn-primary" (click)="c()"><i class="fas fa-check"></i> Apply</button>
        </div>
      </ng-template>



      <div class="container" *ngIf="schema">
        <div class="row">
          <div class="col">
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-outline-secondary" (click)="undo()"
                        placement="bottom" triggers="mouseenter:mouseleave" [openDelay]="800"
                        popoverTitle="Undo?"
                        ngbPopover="This button reverts the last operation by undoing it."
                        container="body"><i class="fas fa-undo"></i></button>
                <button type="button" class="btn btn-outline-secondary" (click)="redo()"
                        placement="bottom" triggers="mouseenter:mouseleave" [openDelay]="800"
                        popoverTitle="Redo?"
                        ngbPopover="This button re-applies the last undone operation."
                        container="body"><i class="fas fa-redo"></i></button>
              </div>
              <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-outline-secondary" (click)="onSelectConceptsTab()"
                        placement="bottom" triggers="mouseenter:mouseleave" [openDelay]="800"
                        popoverTitle="What is a Concept?"
                        ngbPopover="Concepts are semantic descriptors which cover a generic or specific mental concept."
                        container="body">
                  <i class="fas fa-project-diagram"></i> Add concepts and relations
                </button>
              </div>
              <div class="ml-auto">
                <div class="btn-group mr-2" role="group">
                  <button type="button" class="btn btn-outline-secondary" (click)="informationGraph.getNetwork().fit()"><i
                    class="fas fa-arrows-alt"></i> Center graph
                  </button>
                </div>
                <div class="btn-group mr-2" role="group">
                  <div ngbDropdown class="d-inline-block"
                       placement="bottom" triggers="mouseenter:mouseleave" [openDelay]="800"
                       popoverTitle="What is the Semantic and Syntax Model?"
                       ngbPopover="The Semantic model contains Entity and Relations to describe the data source on informational level.
                  The Syntax model describes the data source on structural level."
                       container="body">
                    <button class="btn btn-outline-secondary" id="dropdownSubtreeFilter" ngbDropdownToggle>
                      <i class="fas fa-filter"></i> Filter
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownSubtreeFilter">
                      <button class="dropdown-item" [ngClass]="{active: selectedSubtreeFilter == SubtreeFilter.Both}"
                              (click)="selectedSubtreeFilter = SubtreeFilter.Both">Both
                      </button>
                      <button class="dropdown-item"
                              [ngClass]="{active: selectedSubtreeFilter == SubtreeFilter.SemanticModel}"
                              (click)="selectedSubtreeFilter = SubtreeFilter.SemanticModel"
                              placement="bottom" triggers="mouseenter:mouseleave" [openDelay]="800"
                              popoverTitle="What is the Semantic Model?"
                              ngbPopover="The Semantic model contains Entity and Relations to describe the data source on informational level."
                              container="body">Semantic Model
                      </button>
                      <button class="dropdown-item" [ngClass]="{active: selectedSubtreeFilter == SubtreeFilter.SyntaxModel}"
                              (click)="selectedSubtreeFilter = SubtreeFilter.SyntaxModel"
                              placement="bottom" triggers="mouseenter:mouseleave" [openDelay]="800"
                              popoverTitle="What is the Syntax Model?"
                              ngbPopover="The Syntax model describes the data source on structural level."
                              container="body">Syntax Model
                      </button>
                    </div>
                  </div>
                </div>
                <div class="btn-group" role="group">
                  <div class="input-group-prepend">
              <span class="input-group-text" id="filter-addon1">
                <i class="fas fa-search" style="color: #042042;"></i>
              </span>
                  </div>
                  <input type="text" id="inputselectedTreeFilter" aria-describedby="filter-addon1"
                         [(ngModel)]="selectedTreeFilter" size="10" class="form-control" placeholder="Nodelabel ..."/>
                </div>
                <div class="btn-group mr-2" role="group">
                  <button type="button" class="btn btn-outline-secondary" (click)="switchFullScreen()"><i
                    class="fas fa-expand-arrows-alt"></i> Fullscreen
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ngb-alert *ngIf="errors" type="warning" (close)="errors = null">{{ errors }}</ngb-alert>
          </div>
        </div>
      </div>

      <div class="informationgraph-integration-start" *ngIf="schema">
        <button class="btn btn-primary mr-2" (click)="finishModeling()" *ngIf="!schema.finalized"
                placement="left-bottom" triggers="mouseenter:mouseleave" [openDelay]="800"
                popoverTitle="Finish?"
                ngbPopover="This button finalizes the modeling."
                container="body">
          <i class="fas fa-play" aria-hidden="true"></i>
          Finish
        </button>
        <button class="btn btn-primary mr-2"
                (click)="extractSemanticModel()" *ngIf="schema.finalized"
                placement="left-bottom" triggers="mouseenter:mouseleave" [openDelay]="800"
                popoverTitle="Export to RDF?"
                ngbPopover="This button finalizes the modeling."
                container="body">
          <i class="fas fa-file-export" aria-hidden="true"></i>
          Export
        </button>
      </div>
      <div class="informationgraph informationgraph-container" [ngStyle]="style" #container>
        <div class="informationgraph-sidebar left" @sidebarVisible *ngIf="selectedConceptTab != ConceptSelection.None">
          <ul class="nav nav-tabs" style="margin-bottom: 1rem">
            <button class="btn btn-link" (click)="selectedConceptTab = ConceptSelection.None; deactivateRelationConcept();"><i
              class="fas fa-chevron-left"></i></button>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': selectedConceptTab == ConceptSelection.Entities}"
                 (click)="onSelectEntitiesTab()"><i class="fas fa-tag"></i> Concepts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': selectedConceptTab == ConceptSelection.Relations}"
                 (click)="onSelectRelationsTab()"><i class="fas fa-code-branch"></i> Relations</a>
            </li>
          </ul>
          <div class="informationgraph-sidebar-left-inner">
            <ng-container
              *ngIf="(selectedConceptTab == ConceptSelection.Entities && recentlyUsedEntityConcepts.length > 0) || (selectedConceptTab == ConceptSelection.Relations && recentlyUsedRelationConcepts.length > 0)">
              <h6 class="ml-2">Recently used</h6>
              <div class="list-group">
                <ng-container *ngIf="selectedConceptTab == ConceptSelection.Entities">
                  <a *ngFor="let concept of recentlyUsedEntityConcepts | slice:0:5" draggable="true"
                     (dragstart)="startEntityConceptDrag($event, concept)"
                     class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-0 mt-2">{{ concept.name }}
                        <i *ngIf="concept.description" class="fas fa-info-circle"
                           ngbTooltip="{{ concept.description }}" container="body"></i>
                      </h5>
                      <button class="btn btn-outline-danger" *ngIf="!concept.uuid"
                              (click)="deleteTemporaryEntityConcept(concept)">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </a>
                </ng-container>
                <ng-container *ngIf="selectedConceptTab == ConceptSelection.Relations">
                  <a *ngFor="let concept of recentlyUsedRelationConcepts | slice:0:5" (click)="clickRelationConcept(concept)"
                     class="list-group-item list-group-item-action flex-column align-items-start"
                     [ngClass]="{'active': selectedRelationConcept == concept, 'text-white': selectedRelationConcept == concept}">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-0 mt-2">{{ concept.name }}
                        <i *ngIf="concept.description" class="fas fa-info-circle"
                           ngbTooltip="{{ concept.description }}" container="body"></i>
                      </h5>
                      <button class="btn btn-outline-danger" *ngIf="!concept.uuid"
                              (click)="deleteTemporaryRelationConcept(concept)">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </a>
                </ng-container>
              </div>
              <hr>
            </ng-container>
            <ng-container *ngIf="selectedConceptTab == ConceptSelection.Entities">
              <div class="input-group">
                <div class="search">
                  <input type="text" [(ngModel)]="entityConceptFilter"
                         (ngModelChange)="entityConceptFilterDebouncer.next($event)"
                         class="form-control mb-1" placeholder="Filter..."/>
                </div>
              </div>
              <div class="list-group">
                <a *ngFor="let concept of filteredEntityConcepts" draggable="true"
                   (dragstart)="startEntityConceptDrag($event, concept)"
                   class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-0 mt-2">{{ concept.name }}
                      <i *ngIf="concept.description" class="fas fa-info-circle"
                         ngbTooltip="{{ concept.description }}" container="body"></i>
                    </h5>
                    <button class="btn btn-outline-danger" *ngIf="!concept.uuid"
                            (click)="deleteTemporaryEntityConcept(concept)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </a>
              </div>
            </ng-container>
            <ng-container *ngIf="selectedConceptTab == ConceptSelection.Relations">
              <div class="input-group">
                <div class="search">
                  <input type="text" [(ngModel)]="relationConceptFilter"
                         (ngModelChange)="relationConceptFilterDebouncer.next($event)" class="form-control mb-1"
                         placeholder="Filter..."/>
                </div>
              </div>
              <div class="list-group">
                <a *ngFor="let concept of filteredRelationConcepts" (click)="clickRelationConcept(concept)" draggable="false"
                   class="list-group-item list-group-item-action flex-column align-items-start"
                   [ngClass]="{'active': selectedRelationConcept == concept, 'text-white': selectedRelationConcept == concept}">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-0 mt-2">{{ concept.name }}
                      <i *ngIf="concept.description" class="fas fa-info-circle"
                         ngbTooltip="{{ concept.description }}" container="body"></i>
                    </h5>
                    <button class="btn btn-outline-danger" *ngIf="!concept.uuid"
                            (click)="deleteTemporaryRelationConcept(concept)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </a>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="informationgraph-sidebar right" @sidebarVisibleRight *ngIf="showNodeInformation">
          <div class="modal-header flex-column">
            <div class="row w-100 justify-content-between">
              <h4 class="modal-title text-truncate col-10">{{this.selectedNode.label}}</h4>
              <button class="btn btn-outline-secondary col-2" (click)="showNodeInformation = false">
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>
            <h6 class="mb-0" *ngIf="selectedNode.originalLabel
      && selectedNode.originalLabel != 'NOT_PART_OF_THE_SYNTAX_MODEL'
      && selectedNode.originalLabel != selectedNode.label">
              <i>({{this.selectedNode.originalLabel}})</i></h6>
          </div>
          <div class="modal-header flex-column">
            <p class="mb-0" *ngIf="selectedNode.description">{{this.selectedNode.description}}</p>
            <ng-container *ngIf="!selectedNode.description">
              <p class="mb-0 text-muted" *ngIf="selectedNode.label == 'ROOT'">The ROOT node is the beginning syntax node of
                your data source. It cannot be mapped</p>
              <i *ngIf="selectedNode.label != 'ROOT'">No description</i>
            </ng-container>
          </div>
          <div class="modal-header flex-column" *ngIf="selectedNode.concept
      && selectedNode.concept.name != selectedNode.label">
            <h5>Entity Concept: {{selectedNode.concept.name}}</h5>
            <p class="mb-0" *ngIf="selectedNode.concept.description">{{ selectedNode.concept.description }}</p>
            <p class="mb-0" *ngIf="!selectedNode.concept.description"><i>No description</i></p>
            <p class="mb-0" *ngIf="selectedNode.concept.sourceURI">{{selectedNode.concept.sourceURI}}</p>
            <p class="mb-0" *ngIf="!selectedNode.concept.sourceURI"><i>No Source URI</i></p>
          </div>
          <div class="modal-header flex-column"
               *ngIf="selectedNode.examples || (getMappedPrimitiveNode(selectedNode.id) && getMappedPrimitiveNode(selectedNode.id).examples)">
            <h5 class="modal-title">Example values</h5>
            <div class="container"
                 *ngFor="let example of (selectedNode.examples ? selectedNode.examples : getMappedPrimitiveNode(selectedNode.id).examples); let i = index">
              <hr class="m-1" *ngIf="10 > i > 0">
              <pre class="pre-scrollable mb-0" *ngIf="10 > i > 0">{{ example }}</pre>
            </div>
          </div>
        </div>

        <app-informationgraph #informationGraph [subtreeFilter]="selectedSubtreeFilter" [treeFilter]="selectedTreeFilter"
                              [schema]="schema"
                              *ngIf="schema" (dragover)="dragover($event)" (dragEnd)="dragEnd($event)"
                              (drop)="drop($event)" (addEdge)="edgeAdded($event)" (oncontext)="openContextMenu($event)"
                              (doubleclick)="doubleclick($event)"
                              (selectNode)="selectNode($event)" (deselectNode)="deselectNode($event)"
                              (nodePositionsChange)="persistSchemaPositions($event)"></app-informationgraph>
      </div>

      <div #contextMenu class="dropdown" *ngIf="contextMenuStyle" [ngStyle]="contextMenuStyle">
        <div class="dropdown-menu show">
          <ng-container *ngIf="selectedNode">
            <ng-container *ngIf="!selectedNode.concept && suggestedEntityConcepts && suggestedEntityConcepts.length > 0">
              <h6 class="dropdown-header">Concept Suggestions</h6>
              <button *ngFor="let suggestion of suggestedEntityConcepts" type="button" class="dropdown-item"
                      (click)="setEntityConceptOfPrimitive(selectedNode, suggestion.entityConcept)">{{ suggestion.entityConcept.name }}</button>
              <div class="dropdown-divider"></div>
            </ng-container>
            <ng-container *ngIf="!selectedNode.concept">
              <h6 class="dropdown-header">Concept</h6>
            </ng-container>
            <h6 *ngIf="!selectedNode.operations" class="dropdown-header">Entity Type Operations</h6>
            <button *ngIf="!selectedNode.operations" type="button" class="dropdown-item"
                    (click)="editEntityType(selectedNode)">Modify entity type
            </button>
            <button *ngIf="!selectedNode.operations" type="button" class="dropdown-item"
                    (click)="deleteEntityType(selectedNode)">Delete entity type
            </button>
            <div *ngIf="!selectedNode.operations && operations && operations.length > 0" class="dropdown-divider"></div>
            <h6 *ngIf="operations && operations.length > 0" class="dropdown-header">Syntactic Operations</h6>
            <button *ngFor="let operation of operations; let i = index" type="button" class="dropdown-item"
                    (click)="onSelectOperation(i)">{{ operation.label }}</button>
            <div
              *ngIf="operations && operations.length > 0 && (selectedNode.examples && selectedNode.examples.length > 0 || getMappedPrimitiveNode(selectedNode.id) && getMappedPrimitiveNode(selectedNode.id).examples.length > 0)"
              class="dropdown-divider"></div>
            <button
              *ngIf="selectedNode.examples && selectedNode.examples.length > 0 || getMappedPrimitiveNode(selectedNode.id) && getMappedPrimitiveNode(selectedNode.id).examples.length > 0"
              type="button" class="dropdown-item" (click)="showExampleValues()">Show example values
            </button>
          </ng-container>
          <ng-container *ngIf="selectedEdge">
            <button type="button" class="dropdown-item" (click)="deleteRelation(selectedEdge)">Delete relation</button>
          </ng-container>
        </div>
      </div>

    </mat-card-content>
  </mat-card>



</div>
