<div class="form-group"
     *ngFor="let value of formElement.value; let first = first; let last = last; let i = index; trackBy:trackByFn">
  <label *ngIf="first">{{ formElement.label }}</label>
  <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="formElement.value[i]">
    <div *ngIf="formElement.minimumCardinality != formElement.maximumCardinality" class="input-group-append">
      <button class="btn btn-outline-danger" [disabled]="formElement.value.length == formElement.minimumCardinality"
              (click)="removeElement(i)"><i class="fa fa-minus" aria-hidden="true"></i></button>
    </div>
  </div>
  <small *ngIf="formElement.label && last" class="form-text text-muted">{{ formElement.label }}</small>
</div>
<div class="form-group clearfix">
  <button *ngIf="formElement.minimumCardinality != formElement.maximumCardinality"
          class="btn btn-outline-success float-right"
          [disabled]="formElement.value.length == formElement.maximumCardinality" (click)="addElement($event)"><i
    class="fa fa-plus" aria-hidden="true"></i></button>
</div>
